
body {

  font-family: 'Roboto', sans-serif;
  color: #333;

}

img {

  max-width: 100%;
  color:blue;

}

* {

  box-sizing: border-box;

}

a {

  color:$mainOrange;

}

/*
Things to check out::after
img sizes, srcset */
